img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.ui.form .fields .wide.field {
    padding: .5em;
}

.geosuggest__item {
    list-style: none;
}

.geosuggest__item:hover {
    cursor: pointer;
    color: #db3730
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui), .ui.menu .ui.dropdown .menu>.item {
    text-transform: capitalize !important;
    font-weight: bold;
}
